<%= render  partial: '/layouts/nav' %>
<div class="container">
  <h1 class="center">Welcome
    <%= @user.email %>
  </h1>

  <div class="row">
    <%= render partial: '/layouts/current_temp' %>
    <div id="markets">
      <div class="col s6 pull-s3">
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              Markets
            </span>
          </div>
          <table>
            <% @markets.each do |market| %>
            <tr>
              <%= link_to  market.name, market_path(market) %>
            </tr>
            <% end %>
          </table>
          <div class="card-action">
            <%= link_to  "Add Market", new_market_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: '/layouts/forecast' %>



</div>