<%= render partial: '/layouts/nav' %>
<h1 class="center">Add New Market Day</h1>
<div class="container">
  <%= form_for :sales_day do |f| %>
  <%= f.label :market%>
  <%= f.collection_select(:market, @markets, :id, :name) %>
  <%= f.label :sales_date%>
  <%= f.date_field :sales_date, placeholder: "Market Date" %>
  <%= f.number_field :amount_sold, placeholder: "Total Sales" %>
  <%= f.number_field :amount_spent, placeholder: "Total Cost" %>
  <%= f.submit class: "btn" %>
  <% end %>
</div>